<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Loading...{% endblock %}</title>
</head>
<body>
<div class="container">
    {% block content %}
        Loading...
    {% endblock %}
</div>
</body>
</html>